@model Website.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NewProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>PRODUCT LIST - BROKEN FIX ME!</h2>

    <div class="col-lg-4">
        <input type="hidden" value="contact" name="save">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus"></span> New Product</button>
    </div>
}

<br /><br /><br />

@{int buttonID = 0;}

@if (Model.Products.Count == 0)
{
    <text>No products found.</text>
}
else
{
    foreach (var product in Model.Products)
    {
        if (product.NumberInStock > 0)
        {
            Model.ID = product.ID;
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @product.Name
                        </h3>
                    </div>
                    <div class="panel-body">
                        <img src=@product.ImageLink>
                    </div>
                    <div class="panel-footer">

                        <div class="text-center">
                            <h5>Size: @product.Size</h5> <div class="btn btn-link">$@product.Price</div>
                        </div>

                        @using (Html.BeginForm("AddProduct", "Products", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="pull-right">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <input type="hidden" value="id" name="save">
                                        <button id="@buttonID" class="btn btn-success btn-md" type="submit"> Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("DeleteProduct", "Products", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="pull-right">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <input type="hidden" value="id" name="save">
                                        <button id="@buttonID" class="btn btn-primary btn-md" type="submit"> Delete</button>
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("EditProduct", "Products", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="pull-right">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <input type="hidden" value="id" name="save">
                                        <button id="@buttonID" class="btn btn-default btn-md" type="submit"> Edit</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="clearfix">
                        </div>

                        <script type="text/javascript">
                                document.getElementById(@buttonID).onclick = function () {
                                    alert("Product added to cart!");
                                }

                        </script>

                    </div>
                </div>
            </div>
            buttonID++;
        }
    }
}

