@model Website.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PRODUCT LIST</h2>
<br />

@{int buttonID = 0;}

@if (Model.Products.Count == 0)
{
    <div class="alert alert-danger">
        <strong>No products have been added!</strong>
    </div>
}
else
{
    foreach (var product in Model.Products)
    {
        if (product.Viewable == true)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @product.Name
                        </h3>
                    </div>
                    <div class="panel-body">
                        <img src="@Url.Action("GetImage", "Products", new { product.ID })" height="150" width="225">
                    </div>
                    <div class="panel-footer">

                        @using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            Model.ID = product.ID;
                            @Html.HiddenFor(m => m.ID);

                            <div class="text-center">
                                <div class="btn btn-link">$@product.Price</div><br />
                                @Html.DropDownListFor(
                                     model => model.Size,
                                         new SelectList(
                                             new List<Object>{
                                                new { value = "Small" , text = "Small"  },
                                                new { value = "Medium" , text = "Medium" },
                                                new { value = "Large" , text = "Large" },
                                                new { value = "Extra Large" , text = "Extra Large"}
                                                 },
                                             "value",
                                             "text",
                                             Model.Size
                                            )
                                         )<br /><br />
                            </div>
                            <div class="pull-right">

                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.quantity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.quantity, "", new { @style = "color:red" })
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input type="hidden" value="id" name="save">
                                        <button id="@buttonID" class="btn btn-success btn-md" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                            </div>
                        }

                    </div>
                </div>
            </div>
            buttonID++;
        }
    }
}
